 .box {
    background: #fff;
    border-radius: 0.5rem;
    padding: 3rem 2rem;
    text-align: center;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
}

 .box:hover {
    outline-offset: 0;
    outline: var(--outline-hover);
}

.box img {
    height: 20rem;
}

 .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

 .box .price {
    font-size: 2rem;
    color: var(--light-color);
}

 .box .stars {
    font-size: 1.7rem;
    padding: 0.5rem 0;
    color: var(--orange);
}